* {
  margin: 0px;
  padding: 0px;
}

main {
  width: 85vh;
  height: 70vh;
  background-color: #e0e8ff;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 450px;
  height: 698px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

#cardIMG {
  width: 450px;
  height: 222px;
  background-image: url(images/illustration-hero.svg);
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
}

#annualPlan {
  margin: 20px auto;
  padding: 10px;
  width: 356px;
  height: 70px;
  background-color: #f8f9fe;
  background-image: url(images/icon-music.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 20px;
  border-radius: 10px;
  border: 1px solid red;
}

#annualLeft {
  float: left;
  margin-left: 60px;
  margin-top: 12px;
  line-height: 1.5em;
}

#change {
  float: right;
  margin-right: 15px;
  margin-top: 25px;
}

h1 {
  padding: 40px;
}

#mainText {
  color: #9396a4;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 85vh;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
